CREATORIQ_EMAIL=you@company.com
CREATORIQ_PASSWORD=your-password

CREATORIQ_LOGIN_URL=https://nextgen.creatoriq.com
CREATORIQ_APP_URL=https://nextgen.creatoriq.com
CREATORIQ_PAYOUTS_URL=https://nextgen.creatoriq.com/#campaign/2405009/campaign_payouts
CREATORIQ_STATISTICS_URL=https://nextgen.creatoriq.com/#campaign/2405009/statistics
CREATORIQ_CAMPAIGN_IDS=2405009
CREATORIQ_COHORT_ID=brand_ambassador_test_i

CREATORIQ_HEADLESS=true
DASHBOARD_AUTO_SYNC_MINUTES=60
DASHBOARD_REFRESH_MINUTES=5
